# AWS Elastic Beanstalk Configuration

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:application:environment:
    PORT: 5000
    DEBUG: 0
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static": "static"

container_commands:
  01_create_dirs:
    command: "mkdir -p static/uploads static/results"
